/* styles.css */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f8f9fa;
}

header.jumbotron {
    background: #343a40;
    color: white;
    padding: 2rem 1rem;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 1rem 0;
}

nav.navbar {
    margin-bottom: 2rem;
}

main.container {
    margin-top: 2rem;
}

.card-header .btn {
    text-align: left;
    width: 100%;
    font-size: 1.25rem;
}
